.container {
    max-width: 100%;
    margin-top: 8%;
    text-align: center;
    background-color: skyblue;
    padding: 50px 20px;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.user-button,
.hospital-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 10%;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.user-button:hover,
.hospital-button:hover {
    background-color: skyblue;
    transform: scale(1.1);
}

.user-button img,
.hospital-button img {
    width: 100px;
    height: 100px;
}

.user-button span,
.hospital-button span {
    font-size: 2rem;
    margin-top: 20px;
}

.description {
    font-size: 1.2rem;
    margin-top: 20px;
}