.container {
    padding-top: 3%;
    margin : auto;
}

.head {
    font-weight: bold;
    display: inline;
}

.buttons {
    float: right;
    justify-content: flex-end;
}

.btn-secondary {
    background-color: skyblue;
    border: none;
}

.btn-secondary:hover {
    background-color: steelblue;
}

.form-control {
    width: 900px;
    resize: none;
    border-color: darkgray;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
}

.co2 {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: normal;
}

h5 {
    margin: 0;
    font-size: 1.5rem;
}