<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>접수내역 확인 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/reservationStyle.css">
    <script type="text/javascript" src="/script/userReservation.js" defer></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>접수내역 확인</h1>
            <table>
                <thead>
                <tr>
                    <th>No</th>
                    <th>병원명</th>
                    <th>진료항목</th>
                    <th>접수 일시</th>
                    <th>상태</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservationInfo : ${session.userReservationList}">
                    <td th:text="${reservationInfo.resNo}"></td>
                    <td th:text="${reservationInfo.name}"></td>
                    <td th:text="${reservationInfo.list}"></td>

                    <td th:if="${reservationInfo.currentStatus == '접수대기'}"
                        th:text="${#temporals.format(reservationInfo.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:if="${reservationInfo.currentStatus != '접수대기'}"
                        th:text="${#temporals.format(reservationInfo.updateRegdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${reservationInfo.currentStatus}"></td>
                    <td>
                        <a th:if="${reservationInfo.currentStatus == '진료 전'}" th:href="@{/userResCancelUpdate(resNo=${reservationInfo.resNo})}" onclick="return cancelReservation()">취소하기</a>
                        <a th:if="${reservationInfo.currentStatus == '진료완료'}"
                           th:href="@{/community/write(resNo=${reservationInfo.resNo}, name=${reservationInfo.name})}">후기작성</a>
                    </td>

                </tr>
                </tbody>
            </table>
    </div>
</div>
</body>
</html>