<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${dto.title}">후기 상세</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/community/post.css}" href="../../css/community/post.css">
    <link rel="stylesheet" th:href="@{/css/community/common.css}" href="../../css/community/common.css">
</head>
<body>
<div class="container">

    <div class="post">
        <h2 class="post-title" th:text="|[${dto.hptName}] ${dto.title}|">[병원명] 제목</h2>
        <p class="post-author" th:text="${dto.userEmail}">작성자 이메일 &nbsp;&nbsp;&nbsp;&nbsp;</p>
        <span class="post-hits" th:text="|조회수 ${dto.hit}|">조회수 238</span>
        <span class="post-registerDate" th:text="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm')}">23.4.4 화</span>
        <hr>
        <div class="post-content">
            <p th:text="${dto.content}">내용</p>
        </div>
        <hr>

        <form th:action="@{/community/report}" method="post">
            <input type="hidden" name="postNo" th:value="${dto.postNo}">

            <div class="lbuttons">
                <button type="submit" class="btn btn-secondary btn-sm" th:text="|신고 (${dto.report})|">신고</button>
            </div>
        </form>
        <form th:action="@{/community/delete}" method="post">
            <div class="rbuttons">
                <button type="button" class="btn btn-secondary btn-sm"
                        onclick="location.href='editPost.html'"
                        th:onclick="|location.href='@{/community/{postNo}/edit(postNo=${dto.postNo},page=${pageRequestDTO.page},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}'|">
                    수정
                </button>

                <input type="hidden" name="postNo" th:value="${dto.postNo}">
                <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
            </div>
        </form>
        <br><br><br><br>

        <!-- 댓글 -->
        <h4 class="comment-title">댓글<span class="comment-count" th:text="|(${dto.commentCount})|">(7)</span></h4>
        <hr>
        <table class="table table-borderless">
            <tbody class="comments-table">
            <tr>
                <td rowspan="2">long***</td>
                <td>good입니다.</td>
            </tr>
            <tr class="border-bottom">
                <td>
                    <button type="submit" class="btn btn-secondary btn-sm">수정</button>
                    <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
                </td>
                <td>2023-04-20</td>
            </tr>
            <tr>
                <td rowspan="2">harang***</td>
                <td>동감합니다.</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-secondary btn-sm">수정</button>
                    <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
                </td>
                <td>2023-04-24</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <form class="comment-form">
            <label for="comment" class="comment-writer">har*** : &nbsp;</label>
            <textarea id="comment" name="comment" class="comment-input" rows="2" cols="60%" required
                      placeholder="댓글을 입력해보세요."></textarea> &nbsp;&nbsp;
            <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        </form>
        <hr>

        <button type="button" class="btn btn-secondary btn-sm"
                onclick="location.href='posts.html'"
                th:onclick="|location.href='@{/community(page=${pageRequestDTO.page},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}'|">
            목록으로 돌아가기
        </button>
    </div>
</div>
</body>
</html>