<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${postRes.title}">후기 상세</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/community/post.css}" href="../../css/community/post.css">
    <link rel="stylesheet" th:href="@{/css/community/common.css}" href="../../css/community/common.css">
    <script th:src="@{/js/comment.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="container">

        <div class="post">
            <h2 class="post-title" th:text="|[${postRes.hptName}] ${postRes.title}|">[병원명] 제목</h2>
            <p class="post-author" th:text="${postRes.userEmail}">작성자 이메일 &nbsp;&nbsp;&nbsp;&nbsp;</p>
            <span class="post-hits" th:text="|조회수 ${postRes.hit}|">조회수 238</span>
            <span class="post-registerDate"
                  th:text="${#temporals.format(postRes.regDate, 'yyyy/MM/dd HH:mm')}">23.4.4 화</span>
            <hr>
            <div class="post-content">
                <p th:text="${postRes.content}">내용</p>
            </div>
            <hr>

            <!--<form th:action="@{/community/{postNo}/report(postNo=${postRes.postNo})}" method="post">
                <input type="hidden" name="page" th:value="${postPageReq.page}">
                <input type="hidden" name="type" th:value="${postPageReq.type}">
                <input type="hidden" name="keyword" th:value="${postPageReq.keyword}">-->

                <div class="lbuttons" id="lbuttons">
                    <button type="button" id="reportBtn" class="btn btn-secondary btn-sm reportBtn" th:text="|신고 (${postRes.report})|"
                    th:disabled="${user?.userId == postRes.userId} ? 'disabled'"
                    th:style="${user?.userId == postRes.userId} ? 'background-color: white; color: black; border: black solid 1px' : ''">신고</button>
                </div>
            <!--</form>-->
            <form th:action="@{/community/{postNo}/delete(postNo=${postRes.postNo})}" method="post">
                <div class="rbuttons">
                    <span class="user-authentication" th:if="${user?.userId == postRes.userId}">
                        <button type="button" class="btn btn-secondary btn-sm"
                                onclick="location.href='editPost.html'"
                                th:onclick="|location.href='@{/community/{postNo}/edit(postNo=${postRes.postNo},page=${postPageReq.page},type=${postPageReq.type},keyword=${postPageReq.keyword})}'|">
                            수정
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm deleteBtn">삭제</button>
                    </span>
                    <button type="button" class="btn btn-secondary btn-sm"
                            onclick="location.href='posts.html'"
                            th:onclick="|location.href='@{/community(page=${postPageReq.page},type=${postPageReq.type},keyword=${postPageReq.keyword})}'|">
                        목록
                    </button>
                </div>
            </form>
            <br>
            <br>
            <br>
            <br>

            <!-- 댓글 -->
            <div class="comment">
                <h4 class="comment-title">댓글<span class="comment-count" th:text="|(${postRes.commentCount})|"></span>
                </h4>
                <button class="btn btn-secondary btn-sm addComment">댓글 쓰기</button>
                <hr>
                <div class="commentList">

                </div>

                <div class="commentFooter">

                </div>
                <hr>

                <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">댓글 입력 창</h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>
                                        <input class="form-control" type="text" name="commentContent"
                                               placeholder="댓글을 입력해보세요.">
                                        <input type="hidden" id="commNo" name="commNo">
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="postNo" name="postNo" th:value="${postRes.postNo}">
                                <button type="button" class="btn btn-secondary btn-danger commentDelete">삭제</button>
                                <button type="button" class="btn btn-secondary btn-warning commentUpdate">수정</button>
                                <button type="button" class="btn btn-secondary btn-primary commentSave">저장</button>
                                <button type="button" class="btn btn-secondary btn-outline-secondary commentClose"
                                        data-dismiss="modal">닫기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:inline="javascript">
        // $(window).load(function () {

            var actionForm = $("form");

            $(".deleteBtn").click(function () {

                if (!confirm("게시글을 삭제하시겠습니까?")) {
                    return;
                }

                actionForm
                    .attr("method", "post")
                    .submit();
            });

            $('#lbuttons').on('click', '#reportBtn', function() {

                if ([[${user == null}]]) {
                    alert("로그인이 필요합니다.");
                    location.href = '/login';
                    return;
                }

                if (!confirm("게시글을 신고하시겠습니까?")) {
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/community/" + [[${postRes.postNo}]] + "/report",
                    data: {
                        postNo: [[${postRes.postNo}]],
                        page: [[${postPageReq.page}]],
                        type: [[${postPageReq.type}]],
                        keyword: [[${postPageReq.keyword}]],
                    },
                    dataType: "json",
                    complete: function(data) {
                        alert(data.responseText);
                        $('#lbuttons').load(location.href + ' #lbuttons');
                    }
                });

                /*if([[${user?.userId == postRes.userId}]]) {
                    alert('본인이 작성한 게시글은 신고할 수 없습니다.');
                    return;
                }*/


                /*var postNo = [[${postRes.postNo}]];

                actionForm.empty();

                actionForm.append('<input type="hidden" name="page" value=[[${postPageReq.page}]]>');
                actionForm.append('<input type="hidden" name="type" value=[[${postPageReq.type}]]>');
                actionForm.append('<input type="hidden" name="keyword" value=[[${postPageReq.keyword}]]>');

                actionForm
                    .attr("action", "/community/" + postNo + "/report")
                    .attr("method", "post");

                actionForm.submit();*/
            });
        // });
    </script>
</div>
</body>
</html>