<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum=1.0, user-scalable=no">
	<title>카카오맵 API</title>
</head>
<body>
		<h1>카카오맵 검색 결과</h1>
		<table border="1">
			<thead>
				<tr>
					<th>id</th>
					<th>repEmail</th>
					<th>placeName</th>
					<th>distance</th>
					<th>placeUrl</th>
					<th>categoryName</th>
					<th>addressName</th>
					<th>roadAddressName</th>
					<th>phone</th>
					<th>categoryGroupCode</th>
					<th>categoryGroupName</th>
					<th>x</th>
					<th>y</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="doc : ${documents}">
				<td th:text="${doc.id}"></td>
				<td th:text="${doc.rep_Email}"></td>
				<td th:text="${doc.place_name}"></td>
				<td th:text="${doc.distance}"></td>
				<td th:text="${doc.place_url}"></td>
				<td th:text="${doc.category_name}"></td>
				<td th:text="${doc.address_name}"></td>
				<td th:text="${doc.road_address_name}"></td>
				<td th:text="${doc.phone}"></td>
				<td th:text="${doc.category_group_code}"></td>
				<td th:text="${doc.category_group_name}"></td>
				<td th:text="${doc.x}"></td>
				<td th:text="${doc.y}"></td>
			</tr>
			<!--<tr>
				<td>${documents.id}</td>
				<td>${documents.rep_Email}</td>
				<td>${documents.place_name}</td>
				<td>${documents.distance}</td>
				<td>${documents.place_url}</td>
				<td>${documents.category_name}</td>
				<td>${documents.address_name}</td>
				<td>${documents.road_address_name}</td>
				<td>${documents.phone}</td>
				<td>${documents.category_group_code}</td>
				<td>${documents.category_group_name}</td>
				<td>${documents.x}</td>
				<td>${documents.y}</td>
			</tr>
			</#list>-->
			</tbody>
		</table>

		<script>
			function getPost() {
				$.ajax({
					type: "GET",
					url: "http://localhost/api",
					data: {},
					success: function (response) {
						let rows = response['documents']['row']
						for (let i = 0; i < rows.length; i++) {
							let id = rows[i]['id']
							let place_name = rows[i]['place_name']
							let distance = rows[i]['distance']
							let place_url = rows[i]['place_url']
							let category_name = rows[i]['category_name']
							let address_name = rows[i]['address_name']
							let road_address_name = rows[i]['road_address_name']
							let phone = rows[i]['phone']
							let category_group_code = rows[i]['category_group_code']
							let category_group_name = rows[i]['category_group_name']
							let x = rows[i]['x']
							let y = rows[i]['y']
							console.log(id, place_name, distance, place_url, category_name, address_name, road_address_name,
							phone, category_group_code, category_group_name, x, y)
						}
						console.log(response)
					}
				})
			}
		</script>
</body>
</html>