<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum=1.0, user-scalable=no">
	<title>카카오맵 API</title>
</head>
<body>
	<div id="map" style="width:100%;height:800px;position:relative;overflow:hidden;"></div>
	
	<!-- 지도 표시와 services와 clusterer 라이브러리 불러오기 -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7c6d76e0c895a60f42aa8b0ef2c67d0a&libraries=services,clusterer"></script>
	
	<script>
		
		var markers = [];
		
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div
				mapOption = {
					center: new kakao.maps.LatLng(37.477640999999934, 126.95956799999973), // 지도의 중심좌표
					level: 3 // 지도의 확대 레벨
				};
		
		// 지도를 생성합니다
		var map = new kakao.maps.Map(mapContainer, mapOption);
		
		const API_KEY = '0a931d3e53412cb779f034fc86ec4c96';
		const keyword = '소아과'; // 검색할 키워드
		const url = `https://dapi.kakao.com/v2/local/search/keyword.json?query=${keyword}&apikey=${API_KEY}`;
		
		$.ajax({
			type: "GET",
			url: "https://dapi.kakao.com/v2/local/search/keyword.json?query=" + keyword + "&" + "apikey=" + API_KEY,
			dataType: "json",
			data: {"key" : "value"},
			contentType: "application/json",
			success: function (query) {
				console.log('통신결과');
				console.log(query);
			},
		});
	</script>
</body>
</html>
