<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum=1.0, user-scalable=no">
	<title>병원정보 리스트</title>
	<link rel="stylesheet" type="text/css" href="/css/maps/searchList.css">
	<th:block layout:fragment="css">
	</th:block>
	<th:block layout:fragment="js">
	</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h1>병원 검색</h1>
			<table>
				<thead>
				<tr>
					<th style="text-align: center; font-size: 25px;">병원명</th>
					<th style="text-align: center; font-size: 25px;">병원정보</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="place : ${places}">
						<td>
							<p th:text="${place.placeName}" th:id="'placeName-' + ${place.id}" style="font-size: 25px;">Place Name</p>
							<button class="reservation" th:text="예약하기" th:data-placeid="${place.id}" onclick="showModal(${place.id})"></button>
							<button class="maps" th:href="@{/maps/maps}" th:text="지도보기" onclick="goToMaps(${place.id})"></button>
							<br>
							<br>
							<a>실시간 대기자  수 : </a>
						</td>
						<td>
							<h5>주소명</h5> <p th:text="${place.roadAddressName}">Road Address Nam</p>
							<h5>전화번호</h5> <p th:text="${place.phone}">Phone</p>
							<h5>홈페이지</h5> <a th:href="${place.placeUrl}" th:text="${place.placeUrl}"></a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div id="myModal" class="modal">
				<div class="modal-content">
					<h4><p>선택한 병원: <span id="selectedPlaceName"></span></p></h4>
					<h4><p>예약하시겠습니까?</p></h4>
					<button id="confirmBtn">예</button>
					<button id="cancelBtn">아니요</button>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			// JavaScript 코드
			const modal = document.getElementById("myModal");
			const reservationBtns = document.querySelectorAll(".reservation");
			const selectedPlaceName = document.getElementById("selectedPlaceName");
			const confirmBtn = document.getElementById("confirmBtn");
			const cancelBtn = document.getElementById("cancelBtn");
			
			function showModal(placeId) {
				const placeName = document.getElementById(`placeName-${placeId}`).textContent;
				selectedPlaceName.textContent = placeName;
				modal.style.display = "block";
			}
			
			function onConfirm() {
				const nextUrl = "/api/reservation";
				window.location.replace(nextUrl);
				closeModal();
			}
			
			function closeModal() {
				modal.style.display = "none";
			}
			
			confirmBtn.addEventListener("click", onConfirm);
			cancelBtn.addEventListener("click", closeModal);
			
			reservationBtns.forEach((reservationBtn) => {
				const placeId = reservationBtn.dataset.placeid;
				reservationBtn.addEventListener("click", () => {
					showModal(placeId);
				});
			
			const mapsBtn = reservationBtn.nextElementSibling;
			mapsBtn.addEventListener("click", () => {
				const url = `/maps/reservation?placeId=${placeId}`;
				window.location.href = url;
				});
				
				function setCookie(name, value, days) {
					const expires = new Date();
					expires.setTime(expires.getTime() + days * 24 * 60 * 60 * 1000);
					document.cookie = `${name}=${encodeURIComponent(value)};expires=${expires.toUTCString()};path=/`;
				}
				
				const selectedPlaceName = document.getElementById("selectedPlaceName").textContent;
				setCookie("selectedPlaceName", selectedPlaceName, 1); // 1일간 쿠키 유지
				
				function goToMaps(placeId) {
					const url = `/maps/maps?placeId=${placeId}`;
					window.location.href = url;
				}
			});
		</script>
	</div>
</body>
</html>
