<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum=1.0, user-scalable=no">
	<title>병원정보 리스트</title>
	<link rel="stylesheet" type="text/css" href="/css/maps/searchList.css">
	<th:block layout:fragment="css">
	</th:block>
	<th:block layout:fragment="js">
	</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h1>병원 검색</h1>
			<table>
				<thead>
				<tr>
					<th style="text-align: center">병원명</th>
					<th style="text-align: center">병원정보</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="place : ${places}">
					<td>
						<p th:text="${place.placeName}" id="placeName">Place Name</p>
						<a th:href="@{/maps/reservation}" id="reservation" th:text="예약하기"></a>
						<a th:href="@{/maps/maps}" id="map" th:text="지도보기"></a>
						<form action="" method="GET">
						</form>
					</td>
					<td>
						주소명 : <p th:text="${place.roadAddressName}">Road Address Nam</p>
						전화번호 : <p th:text="${place.phone}">Phone</p>
						홈페이지 : <a th:href="${place.placeUrl}" th:text="${place.placeUrl}"></a>
					</td>
				</tr>
				</tbody>
			</table>
			<!--<ul>
				<li th:each="place : ${places}">
					<h3 th:text="${place.id}">Place ID</h3>
					<p th:text="${place.placeName}">Place Name</p>
					<p th:text="${place.phone}">Phone</p>
					<p th:text="${place.roadAddressName}">Road Address Name</p>
					<p th:text="${place.placeUrl}">Place URL</p>
				</li>
			</ul>-->
		</div>
	</div>
</body>
</html>
