@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
table {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	margin-bottom: 20px;
}
td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
}
th {
    padding: 10px;
    border-block: 1px solid skyblue;
	writing-mode: horizontal-tb;
	background-color: #deebf7;
	font-weight: bold;
}
