@charset "UTF-8";

/*.table-striped>tbody>tr:nth-child(odd)>td,*/
/*.table-striped>tbody>tr:nth-child(odd)>th {*/
/*	background-color: #deebf7;*/
/*}*/

nav {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
table {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	margin-bottom: 20px;
}
td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
}
th {
    padding: 10px;
    border-block: 1px solid skyblue;
	writing-mode: horizontal-tb;
	background-color: #deebf7;
	font-weight: bold;
	text-align: center;
}

form {
	display: flex;
	justify-content: space-evenly;
}

.form-select {
	width: 15%;
}

.form-control {
	width: 70%;
}

.btn-secondary {
	background-color: skyblue;
	color: black;
	border: none;
}

.btn-secondary:hover {
	background-color: steelblue;
}

.btn-outline {
	background-color: transparent;
	border: none;
	padding: 0;
	color: blue;
}
