<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>i : Heal Me 회원가입</title>
    <link rel="stylesheet" type="text/css" href="../css/ChooseType.css">
</head>

<body>
  <div class="container">
    <h1>회원가입</h1>
    <div class="center">
      <div class ="button-container">
        <button onclick="location.href='SignupUser.html'" class="user-button">
          <img src="user-image.jpg" alt="user">
          <span>User</span>
        </button>
        <div class="description">
          <p>Click here to register as a user.</p>
        </div>
      </div>
      <div class="button-container">
        <button onclick="location.href='SignupHospital.html'" class="hospital-button">
          <img src="hospital-image.jpg" alt="hospital">
          <span>Hospital</span>
        </button>
        <div class="description">
          <p>Click here to register as a hospital.</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>