<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>접수내역 확인 페이지</title>
    <link rel="stylesheet" type="text/css" href="../css/HPTReception.css">
    <script src="../css/script/HPTReception.js" defer></script>
</head>

<body>
<div class="container">
    <h1>접수내역 확인</h1>
    <div class="counter">
        <span class="counter-label">실시간 대기자수:</span>
        <span class="counter-value" th:text="${counterValue}">0</span>
        <button class="counter-btn" id="add-btn" th:onclick="'javascript: {addCounter()} '">+1</button>&nbsp;&nbsp;&nbsp;
        <button class="counter-btn" id="sub-btn" th:onclick="'javascript: {subCounter()} '" th:disabled="${isDisabled}">-1</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>환아명</th>
            <th>진료항목</th>
            <th>접수일시</th>
            <th>상태</th>
            <th>비고</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="HPTreceptionDO : ${HPTreceptionDO}">
            <td th:text="${HPTreceptionDO.no}"></td>
            <td th:text="${HPTreceptionDO.pname}"></td>
            <td th:text="${HPTreceptionDO.txlist}"></td>
            <td th:text="${HPTreceptionDO.rdate}"></td>
            <td th:text="${HPTreceptionDO.status}"></td>
            <td>
                <a th:if="${HPTreceptionDO.status == '접수대기'}" href="#" th:onclick="'javascript: {accept(${reception.no})} '">접수</a>
                <a th:if="${HPTreceptionDO.status == '접수대기'}" href="#" th:onclick="'javascript: {reject(${reception.no})} '">거절</a>
                <a th:if="${HPTreceptionDO.status == '진료 전'}" href="#" th:onclick="'javascript: {complete(${reception.no})} '">진료완료</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

