<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>i : Heal Me 로그인</title>
    <link rel="stylesheet" type="text/css" href="../css/Login.css">
</head>

<body>
<div class="container">
    <h2>i Heal Me : Login</h2>
    <form>
        <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        <div class="input-group">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <div class="bottom-container">
        <a href="/templates/ChooseType.html" class="btn">Signup</a>
        <a href="#" class="btn">Find ID/PW</a>
    </div>
</div>
</body>

</html>