<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>접수내역 확인 페이지</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script>
        const counterValue = document.querySelector('.counter-value');
        const addBtn = document.querySelector('#add-btn');
        const subBtn = document.querySelector('#sub-btn');
        let waitingCount = 0;
        counterValue.textContent = waitingCount;
        addBtn.addEventListener('click', () => {
            waitingCount++;
            counterValue.textContent = waitingCount;
            subBtn.disabled = false;
        });
        subBtn.addEventListener('click', () => {
            waitingCount--;
            counterValue.textContent = waitingCount;
            if (waitingCount === 0) {
                subBtn.disabled = true;
            }
        });
    </script>
</head>
<body>
<div class="container">
    <h1>접수내역 확인</h1>
    <div class="counter">
        <span class="counter-label">실시간 대기자수:</span>
        <span class="counter-value">0</span>
        <button class="counter-btn" id="add-btn">+1</button>&nbsp;&nbsp;&nbsp;
        <button class="counter-btn" id="sub-btn" disabled>-1</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>환아명</th>
            <th>진료항목</th>
            <th>접수일시</th>
            <th>상태</th>
            <th>비고</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>4</td>
            <td>이성구</td>
            <td>소아 진료</td>
            <td></td>
            <td>접수대기</td>
            <td><a href="HPTReception.html" th:href="@{/templates/}" class="hidden-link">접수</a>&nbsp;&nbsp;&nbsp;
                <a href="HPTReception.html" th:href="@{/templates/}" class="hidden-link">거절</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>성한빈</td>
            <td>영유아검진</td>
            <td></td>
            <td>접수취소</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>성한빈</td>
            <td>영유아검진</td>
            <td>2023-04-25 15:35:22</td>
            <td>진료 전</td>
            <td></td>
        </tr>
        <tr>
            <td>1</td>
            <td>이성구</td>
            <td>소아 진료</td>
            <td>2023-04-25 15:35:22</td>
            <td>진료 완료</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

