.fs-4 {
    color: skyblue;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
}

.post-title {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.post-author {
    font-size: 14px;
    margin: 5px 0;
    padding: 0;
}

.post-hits {
    font-size: 12px;
    margin: 5px 0;
    padding: 0;
}

.post-registerDate{
    font-size: 12px;
    margin: 5px 0;
    padding: 0;
    float: right;
}
hr {
    border: none;
    border-top: 1px solid;
    margin: 20px 0;
}

.post-content {
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 2px #ccc;
}

.post-content > p {
    min-height: 300px;
}

.lbuttons{
    float: left;
    justify-content: flex-end;
}

.rbuttons {
    float: right;
    justify-content: flex-end;
}


.comment-title{
    display: inline;
    clear: both;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.comment-count{
    font-size: 15px;
    font-weight: normal;
}

.comment-content{
    position: relative;
}


tr {
    /*border: 1px solid gray;*/
    border-spacing: 10px;
}

td {
    vertical-align: middle;
}

.addComment {
    float: right;
    margin-bottom: 20px;
}

.card-body {
    clear: both;
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 5px;
}

.card-body:hover {
    background-color: #f9f9f9;
}

.card-subtitle {
    padding-right: 15px;
}

.card-text {
    font-size: 8px;
}